<html>
<head th:replace="~{base :: head}">
<meta charset="UTF-8">
</head>
<body>
	<div th:replace="~{base :: logo}"></div>
	<div class="container">
		<div th:replace="~{base :: titulo('Cadastro de Jogo')}"></div>
		<div class="card mt-3">
			<form action="/usuario/salvarJogo" th:object="${requisicaoNovoJogo}"
				class="card-body" method="post">
				<div class="form-group">
					<label for="sala">Nome da Sala de Aula</label> 
					<input
						th:field="*{nome}" th:errorclass="is-invalid"
						class="form-control" placeholder="nome da sala" type="text"
						min="0" max="1000" />
						 <small>Informe os dados da Sala de Aula.</small>
					<div class="invalid-feedback" th:errors="*{placar}">Por
						favor, informe o nome da sala.</div>

				</div>

				<button class="btn btn-primary" type="submit">Cadastrar</button>
			</form>
		</div>
	</div>
</body>
</html>

<a href="/cadastros/abreFormAluno"><button
					class="btn btn-outline-secondary my-2 my-sm-0">Novo Jogo</button></a>